
@font-face {
    font-family: 'Carumba';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/Carumba-Hot-Caps-Plain.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Carumba-Hot-Caps-Plain.woff') format('woff') /* Modern Browsers */
       
  }
  @font-face {
    font-family: 'MK';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/MK-90-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MK-90-Regular.woff') format('woff') /* Modern Browsers */
       
  }

  @font-face {
     font-family: 'RoundnRound';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/RoundnRound.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/RoundnRound.woff') format('woff') /* Modern Browsers */
        
   }
